<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="DBConnection" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=D:\03_MyProgram\GitHub\test\DynamicLanguageRuntime_Sample\EntitySample\Database\ScriptSampleDB.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>